<app-comp1></app-comp1>
<comp2></comp2>
<comp3></comp3>
<app-comp4></app-comp4>
<p style="font-size: 36px;">Шахматная доска</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td></td>
    <td>a</td>
    <td>b</td>
    <td>c</td>
    <td>d</td>
    <td>e</td>
    <td>f</td>
    <td>g</td>
    <td>h</td>
  </tr>
  <tr>
    <td>8</td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
  </tr>
  <tr>
    <td>7</td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
  </tr>
  <tr>
    <td>6</td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
  </tr>
  <tr>
    <td>5</td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
  </tr>
  <tr>
    <td>4</td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
  </tr>
  <tr>
    <td>3</td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
  </tr>
  <tr>
    <td>2</td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
  </tr>
  <tr>
    <td>1</td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
    <td><app-mod2></app-mod2></td>
    <td><app-mod1></app-mod1></td>
  </tr>
</table>
